# build artifacts
bin/

# build directory
.build
.toolchain
.goreleaser-binaries/
.goreleaser-skip-build.yml
build
CMakeUserPresets.json
dist
installers
scripts/version

# environment and tockens
.env

# docs
docs/bump-transition.ods

# IDE
*.geany

