# build artifacts
bin/

# build directory
.build
.toolchain
build
CMakeUserPresets.json
dist

# environment and tockens
.env

# goreleaser tmp scripts
buildtools/post-archive-hook.sh.bak
buildtools/post-archive-hook.sh
