# build artifacts
bin/
version-darwin-amd64
version-darwin-arm64
version-linux-amd64
version-linux-arm64
version-windows-amd64.exe
verrsion-windows-arm64.exe

# build directory
.build
.toolchain
.goreleaser-binaries/
.goreleaser-skip-build.yml
build
CMakeUserPresets.json
dist
installers
scripts/version
scripts/pre-push
scripts/buildfab


# environment and tockens
.env
.cursor/mcp.json

# docs
docs/bump-transition.ods

# IDE
*.geany

